    <article class="project" id="{id}">
        <header><h3>{name}</h3></header>

        <section>
            <p>

            I am a long-term crypto nerd and security fanatic. 
I graduated from <a href="https://northeastern.edu">Northeastern University</a> with a BS in Mathematics, and am continuing as a PhD student in Computer Science researching cryptography with abhi shelat.
In particular, I am researching specialized efficient MPC protocols so that privacy-preserving computation can be deployed more widely.
Additionally I have interests in fully homomorphic encryption and searchable encryption.
            </p>

            <p>
            The best way to contact me is to send an email to schuyler (at) rosefield (dot) org.
            </p>
        </section>

        <footer>

        </footer>

    </article>
