    <article class="project" id="{id}">
        <header><h3>{name}</h3></header>

        <section>
            <p>

            I am a long-term crypto nerd and security fanatic. I recently graduated from <a href="https://northeastern.edu">Northeastern University</a> with a BS in Mathematics. Further, I intend on pursuing a PhD in Computer Science researching cryptography and its applications towards privacy. In particular I hope to improve the efficiency of fully homomorphic encryption so that it can be more widely deployed to solve problems with encrypted search or secure computation.

            </p>


            <p>
            I am currently employed at <a href="https://ngpvan.com">NGP VAN</a> as an individual contributor focusing on application security and design. Aside from security contributions I also worked to create many of the client reporting tools available as part of the application.

            </p>

            <p>
            The best way to contact me is to send an email to schuyler (at) rosefield.org.
            </p>
        </section>

        <footer>

        </footer>

    </article>
