    <article class="project" id="{id}">
        <header><h3>{name}</h3></header>

        <section>
            <p>

            I am a long-term crypto nerd and security fanatic. I recently graduated from <a href="https://northeastern.edu">Northeastern University</a> with a BS in Mathematics, and will be continuing as a PhD student in Computer Science researching cryptography and its applications towards privacy. In particular I hope to make recent cryptographic primitives such as fully homomorphic encryption more computationally efficient so that they can be deployed more widely.

            </p>


            <p>
            I worked at <a href="https://ngpvan.com">NGP VAN</a> as a software engineer focused on application security and design. My primary responsibilities were guiding the engineering security roadmap and proactively identifying and fixing application vulnerabilities.

            Aside from security contributions I also worked to create many of the client reporting tools available as part of the application, such as a high performance customizable grid report builder and a WYSIWIG PDF report generator.

            </p>

            <p>
            The best way to contact me is to send an email to schuyler (at) rosefield (dot) org.
            </p>
        </section>

        <footer>

        </footer>

    </article>
