<html>
<head>

<title>
{site_title}
</title>

{scripts}

</head>

<body>

<article class="main">
    <header class="center">
        <h1>{title}</h1>
    </header>

    {articles}

    <hr>
    <footer class="center">
        The code used to generate this site can be found <a href="https://github.com/Rosefield/rosefield.org">here</a>.

        <div class="date-created">Last updated: {date_created}</div>
    </footer>

</article>

</body>
</html>
