    <article class="project" id="{id}">
        <header><h3>{name}</h3></header>

        <section>
            <p>
            I write to support Schuyler Rosefield’s application to pass the Northeast-ern PhD program’s paper requirement.
            </p>
            <p>
Schuyler satisfies the paper requirement by his participation in the preparation of our manuscript, “Multiparty Generation of an RSA Modulus” which describes our protocol for enabling a group of n parties to sample an RSA modulus in such a way that no group of up to n parties to sample an RSA modulus in such a way that no group of up to n - 1 colluding parties can reconstruct the factorization.
This problem has wide applications in threshold cryptography and the implementation of Verifiable Delay Functions.
            </p>
            <p>
This paper was submitted to Eurocrypt ’20, a flagship venue in the field of cryptography, where it received good reviews but was ultimately rejected.
It is currently in submission to Crypto ’20 where we hope it will be received favorably.
The paper is also currently posted at <a href="https://eprint.iacr.org/2020/370">eprint/2020/370</a>.
            </p>
            <p>
Schuyler was responsible for substantial portions of the protocol design and corresponding analysis and proof.
He took initiative in making major contributions to every stage of the research process, from framing the problem and identifying bottlenecks, to the design and analysis of candidate solutions and their presentation.
            </p>
            <p>
In particular, one of the main innovations in the paper is a technique to com-bine sampling and sieving based on the Chinese Remainder Theorem.
This idea enables an efficient privacy-free check for identifying malicious behavioron failed samples.
Schuyler was responsible for most of the ideas required to formalize and prove this technique secure.
            </p>
            <p>
If you have any more questions about his candidacy, please feel free to reachout to me.
            </p>
            <p>
            Yours,
            <br/>
            abhi shelat
            </p>
        </section>

    </article>
