    <article class="project" id="{id}">
        <header><h3>{name}</h3></header>

        <section>
            
        </section>

        <footer>
            <a class="download-link" href="files/DRSA.pdf">Multiparty Generation of an RSA Modulus</a>   
        </footer>

    </article>
