    <article class="project" id="{id}">
        <header><h3>{name}</h3></header>

        <section>

            <p>
            Some filler text
            </p>

        </section>

        <footer>

        </footer>

    </article>
