    <article class="project" id="{id}">
        <header><h3>{name}</h3></header>

        <section>

            <p>
                Juggling
            </p>

            <p>
                CTFs
            </p>    

            <p>
                Privacy 
            </p>

        </section>

        <footer>

        </footer>

    </article>
