    <article class="project" id="{id}">
        <header><h3>{name}</h3></header>

        <section>
            <header>
            <b>Multiparty Generation of an RSA Modulus</b>
            </br>
            <i>Joint work with Megan Chen, Ran Cohen, Jack Doerner, Yashvanth Kondi, Eysa Lee, and abhi shelat</i>
            </header>
            <aside>This work presents an efficient method for jointly producing an RSA modulus. This is achieved through efficiently combining the sampling and seiving phases to produce candidate moduli, and a privacy-free check that catches cheating on invalid moduli.</aside>

        </section>

        <footer>

        </footer>

    </article>
