    <article class="project" id="{id}">
        <header><h3>{name}</h3></header>

        <section>
            <p>

            Over the summer of 2019 I worked in Group 53 at <a href="https://www.ll.mit.edu/">MIT Lincoln Lab</a> as a research intern.
During this internship I helped develop the internal MPC framework, implementing new primitives and an asyncronous execution model for certain computations.
Additionally, I developed an entry for Track IV of the <a href="http://www.humangenomeprivacy.org/2019/competition-tasks.html">IDASH Privacy & Security competition</a>.
With this project I evaluated models for MPC-friendliness, efficiency, and accuracy, and then implemented code to train the neural network in a distributed and privacy-preserving manner under MPC. 
            <a class="download-link" href="https://github.com/Rosefield/IDASH2019Submission">View Submission</a>   
            </p>
            <p>
            Prior to my PhD I worked at <a href="https://ngpvan.com">NGP VAN</a> as a software engineer focused on application security and design.
            Aside from security contributions I helped create many of the client reporting tools available as part of the application, such as a high performance customizable grid report builder, a WYSIWIG PDF report generator, and an online form creator.
            </p>
        </section>

        <footer>

        </footer>

    </article>
